version: '3.7'
services:
  web:
    image: saiel/racs
    command: bash build.sh
    env_file:
      - ./.env
    volumes:
#      - ./media:/usr/media
      - ./src:/var/www
#      - ./log/celery:/var/log/celery
#      - ./run/celery:/run/celery
#      - ./confs/django:/etc/django:ro
#      - ./log/django:/var/log/django
    networks:
      - db-net
#      - amqp-net
#      - nginx-net
    ports:
      - "8000:8000"
      - "9000:9000"
    depends_on:
     - db
#     - rabbit
    restart: "on-failure"

  db:
    image: postgres:alpine
    command: postgres -c logging_collector=on -c log_destination=stderr -c log_directory=/var/log
    env_file:
      - ./.env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./log/pgsql:/var/log
    ports:
      - "5432:5432"
    networks:
      - db-net
    restart: "on-failure"

#  nginx:
#    image: nginx:alpine
#    networks:
#      - nginx-net
#    ports:
#      - "8000:80"
#    volumes:
#      - ./confs/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
#    depends_on:
#      - web


networks:
  db-net:
    driver: bridge
#  nginx-net:
#    driver: bridge
