.User {
  &-UserInfo {
    width: 35%;
    margin-right: 120px;
  }

  &-Tables {
    flex: 1;
  }

  .AccessList .Table-Row div {
    &:nth-child(1) {
      width: 10%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(3) {
      width: 25%;
    }

    &:nth-child(4) {
      width: 25%;
    }
  }

  .LogList .Table-Row div {
    &:nth-child(1) {
      width: 10%;
    }
    &:nth-child(2) {
      width: 30%;
    }
    &:nth-child(3) {
      width: 40%;
    }
  }
}