.Layout {
  display: flex;
  flex-direction: row;
  padding: var(--content-padding-v) var(--content-padding-h); 

  &-Title {
    margin-bottom: 15px;
  }
}

.Flex {
  display: flex;
  flex-direction: column;

  &_row {
    flex-direction: row;
  }
}