$red: rgba(254, 95, 85, 1);
$green: rgba(175, 208, 191, 1);
$light: rgba(251, 251, 251, 1);
$blue: rgba(51, 101, 138, 1);

:root {
  --color-primary: #2E2F30;
  --color-accent: rgba(51, 101, 138, 1);
  --color-light: rgba(251, 251, 251, 1);
  --color-red: rgba(254, 95, 85, 1);;
  --color-green: #619EF2;

  --color-table-divider: #cecece;
  --color-content-divider: #adadad;

  --header-bg: var(--color-light);

  --font-size-s: 12px;
  --line-height-s: 18px;
  --font-size-m: 14px;
  --line-height-m: 21px;
  --font-size-l: 16px;
  --line-height-l: 24px;

  --content-padding-h: 32px;
  --content-padding-v: 16px;
}

.Page {
  background: #DAE4F2;
  margin: 0;

  &-Title{
    font-size: 15px;
    font-weight: 600;
    width: 20%;
    letter-spacing: 1px;
    background: #619EF2;
    color: #ffffff;
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &-Actions {	
    margin: 10px 0px;	
  }
}

.BlockLink {
  text-decoration: none;
  outline: none;

  &_primary {
    color: var(--color-primary);
  }
}

.Btn {	
  /*border: 2px solid black;	*/
  color: #ffffff;	
  cursor: pointer;	
  font-size: 16px;	
  padding: 5px;	
  outline: none;
  border: none;

  &:hover {	
    border-color: var(--color-accent);	
    text-decoration: underline;	
  }	

  &_add {	
    background: var(--color-green);	
  }	

  &_Change {
    background: #81E0B2;
    height: 42px;
    border-radius: 20px;
    width: 20%;
  }

  &_danger {	
    background: var(--color-red);	
    color: var(--color-light);
    width: 86px;
    height: 42px;	
    border-radius: 20px;
  }	

  &:disabled {	
    border-color: graytext;	
    color: graytext;	
    cursor: default;	
  }	
}	

.Form {	
  &-Submit {	
    margin: 10px auto;	
    text-align: center;	
    width: 100%;	
  }	
} 

