$red: rgba(254, 95, 85, 1);
$green: rgba(175, 208, 191, 1);
$light: rgba(251, 251, 251, 1);
$blue: rgba(51, 101, 138, 1);

:root {
  --color-primary: #000000;
  --color-accent: rgba(51, 101, 138, 1);
  --color-light: rgba(251, 251, 251, 1);
  --color-red: rgba(254, 95, 85, 1);;
  --color-green: rgba(175, 208, 191, 1);

  --color-table-divider: #cecece;
  --color-content-divider: #adadad;

  --header-bg: var(--color-light);

  --font-size-s: 12px;
  --line-height-s: 18px;
  --font-size-m: 14px;
  --line-height-m: 21px;
  --font-size-l: 16px;
  --line-height-l: 24px;

  --content-padding-h: 32px;
  --content-padding-v: 16px;
}

.Page {
  background: #edeef0;
  margin: 0;

  &-Title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
  }

  &-Actions {	
    margin: 10px 0px;	
  }
}

.BlockLink {
  text-decoration: none;
  outline: none;

  &_primary {
    color: var(--color-primary);
  }
}

.Btn {	
  border: 2px solid black;	
  color: var(--color-primary);	
  cursor: pointer;	
  font-size: 16px;	
  padding: 5px;	

  &:hover {	
    border-color: var(--color-accent);	
    text-decoration: underline;	
  }	

  &_add {	
    background: var(--color-green);	
  }	

  &_danger {	
    background: var(--color-red);	
    color: var(--color-light);	
  }	

  &:disabled {	
    border-color: graytext;	
    color: graytext;	
    cursor: default;	
  }	
}	

.Form {	
  &-Submit {	
    margin: 10px auto;	
    text-align: center;	
    width: 100%;	
  }	
} 