.Home {
  &-User {
    width: 30%;
  }

  &-Tables {
    width: 90%;
  }

  @media screen and (max-width: 1024px) {
    &-User, &-Tables {
      width: 100%;
    }
  }

  .Layout-Table {
    margin-bottom: 30px;
  }

  .LockList .Table-Row div {
    text-align: center;
    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 30%;
    }

    &:nth-child(3) {
      width: 25%;
    }
    &:nth-child(4) {
      width: 25%;
    }

    @media screen and (max-width: 1024px) {
      &:nth-child(n) {
        width: 100%;
      }
    }
  }

  .UserList .Table-Row div {
    text-align: center;
    &:nth-child(1) {
      width: 6%;
      
    }

    &:nth-child(2) {
      width: 14%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:nth-child(5) {
      width: 15%;
    }

    &:nth-child(6) {
      width: 20%;
    }

    @media screen and (max-width: 1024px) {
      &:nth-child(n) {
        width: 100%;
      }
    }
  }
}

.Layout-Column.Home-Tables {
  position: absolute;
  right: 0;
  margin-right: 5%;
}
