.Home {
  &-User {
    width: 30%;
    padding: 10px 15px;
  }

  &-Tables {
    width: 70%;
    padding: 10px 15px;
  }

  .Layout-Table {
    margin-bottom: 30px;
  }

  .LockList .Table-Row div {
    &:nth-child(1) {
      width: 10%;
    }

    &:nth-child(2) {
      width: 15%;
    }

    &:nth-child(3) {
      width: 15%;
    }
  }

  .UserList .Table-Row div {
    &:nth-child(1) {
      width: 10%;
    }

    &:nth-child(2) {
      width: 15%;
    }

    &:nth-child(3) {
      width: 15%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:nth-child(5) {
      width: 15%;
    }

    &:nth-child(6) {
      width: 15%;
    }
  }
}