.Overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  min-width: 100vw;
  min-height: 100vh;

  &-Close {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 20px;
  }

  &-Content {
    background: white;
    padding: 0 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.Close{
  outline: none;
  border: none;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  
  background: #619EF2;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 400;
}