.ModelField {
  display: flex;
  margin-top: 10px;
}

.ModelField:first-child {
  margin-top: 0px;
}

.ModelField-Field {
  color: var(--color-green);
  font-weight: bold;
  width: 50%;
}

.ModelField-Value {	
  width: 50%;
}