.Loader {
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.Loader-Icon {
  animation: Spin 0.5s infinite ease-in-out;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-left: 3px solid white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}