.Lock {
  &-LockInfo, .TitleUser {
    width: 80%;
    margin: 0 auto;
  }

  &-Tables {
    flex: 1;
  }

  .AccessList .Table-Row div {
    text-align: center;
    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 30%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }
  }

  .LogList .Table-Row div {
    text-align: center;
    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 30%;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 20%;
    }
  }
}